<app-download-regiment></app-download-regiment>
<div class="container p-5">
    <div class="flex">
        <h1 class="text-2xl font-bold grow">Propostas de Alteração</h1>
        <div class="flex items-center">
            <a class="flex items-center gap-2 text-sm font-semibold bg-yellow-500 text-white p-2 rounded-lg"
                [routerLink]="['/nova-proposta']" href="#">
                <i class="fa-solid fa-plus"></i>
                <span class="hidden md:block">Nova Proposta</span>
            </a>
        </div>
    </div>
    <div class="flex flex-col md:flex-row md:flex-nowrap gap-4 my-4 pb-3 overflow-auto">
        <div
            class="bg-white border-2 border-gray-300 p-4 rounded-lg max-w-96 drop-shadow-lg focus:border-sky-800  hover:border-2 hover:border-sky-800 ">
            <h2 class="text-lg font-bold py-2 text-sky-800">
                Alteração do horário de silêncio
            </h2>
            <div class="flex justify-between items-center mt-2">
                <i class="fa-solid fa-user text-gray-400"></i>
                <div class="text-sm text-gray-400 ml-1 grow">João Silva - 106 B</div>
                <i class="fa-solid fa-clock text-sm text-gray-400"></i>
                <span class="text-xs text-gray-500 ml-1">15/09/2025</span>
            </div>
            <p class="my-4 text-sm text-gray-600">
                Proposta para estender o horário de silêncio nos finais de semana,
                considerando as necessidades de descanso dos moderadores.
            </p>
            <div class="flex items-center gap-2">
                <div class="mt-4 flex flex-col md:flex-row grow">
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-receipt text-sky-800"></i>
                        <span class="text-lg font-semibold">2</span>
                        <span class="text-sm mr-2">trechos</span>
                    </div>
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-comment text-sky-800"></i>
                        <span class="text-lg font-semibold">14</span>
                        <span class="text-sm">comentários</span>
                    </div>
                </div>
                <div class="mt-4 flex justify-end">
                    <i class="fa-solid fa-thumbs-up text-lime-700"></i>
                    <span class="text-xs font-semibold text-lime-700 ml-1 mr-2">3</span>
                    <i class="fa-solid fa-thumbs-down text-red-700"></i>
                    <span class="text-xs font-semibold text-red-700 ml-1 mr-2">9</span>
                </div>
            </div>
            <button class="mt-4 w-full cursor-pointer bg-sky-800 text-white p-2 rounded-lg text-sm">
                Ver Detalhes</button>
        </div>
        <div
            class="bg-white border-2 border-gray-300 p-4 rounded-lg max-w-96 drop-shadow-lg  hover:border-2 hover:border-sky-800 ">
            <h2 class="text-lg font-bold py-2 text-sky-800">
                Revisão das regras do uso da piscina
            </h2>
            <div class="flex justify-between items-center mt-2">
                <i class="fa-solid fa-user text-gray-400"></i>
                <div class="text-sm text-gray-400 ml-1 grow">Carlos Santos - 159 D</div>
                <i class="fa-solid fa-clock text-sm text-gray-400"></i>
                <span class="text-xs text-gray-500 ml-1">22/07/2025</span>
            </div>
            <p class="my-4 text-sm text-gray-600">
                Proposta para atualizar as regras de uso da piscina, incluindo horários de
                funcionamento, normas de segurança e limitações para convidados.
            </p>
            <div class="flex items-center gap-2">
                <div class="mt-4 flex flex-col md:flex-row grow">
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-receipt text-sky-800"></i>
                        <span class="text-lg font-semibold">15</span>
                        <span class="text-sm mr-2">trechos</span>
                    </div>
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-comment text-sky-800"></i>
                        <span class="text-lg font-semibold">28</span>
                        <span class="text-sm">comentários</span>
                    </div>
                </div>
                <div class="mt-4 flex justify-end">
                    <i class="fa-solid fa-thumbs-up text-lime-700"></i>
                    <span class="text-xs font-semibold text-lime-700 ml-1 mr-2">32</span>
                    <i class="fa-solid fa-thumbs-down text-red-700"></i>
                    <span class="text-xs font-semibold text-red-700 ml-1 mr-2">29</span>
                </div>
            </div>
            <button class="mt-4 w-full cursor-pointer bg-sky-800 text-white p-2 rounded-lg text-sm">
                Ver Detalhes</button>
        </div>
        <div
            class="bg-white border-2 border-gray-300 p-4 rounded-lg max-w-96 drop-shadow-lg  hover:border-2 hover:border-sky-800 ">
            <h2 class="text-lg font-bold py-2 text-sky-800">
                Revisão das regras do uso da piscina
            </h2>
            <div class="flex justify-between items-center mt-2">
                <i class="fa-solid fa-user text-gray-400"></i>
                <div class="text-sm text-gray-400 ml-1 grow">Carlos Santos - 159 D</div>
                <i class="fa-solid fa-clock text-sm text-gray-400"></i>
                <span class="text-xs text-gray-500 ml-1">22/07/2025</span>
            </div>
            <p class="my-4 text-sm text-gray-600">
                Proposta para atualizar as regras de uso da piscina, incluindo horários de
                funcionamento, normas de segurança e limitações para convidados.
            </p>
            <div class="flex items-center gap-2">
                <div class="mt-4 flex flex-col md:flex-row grow">
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-receipt text-sky-800"></i>
                        <span class="text-lg font-semibold">15</span>
                        <span class="text-sm mr-2">trechos</span>
                    </div>
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-comment text-sky-800"></i>
                        <span class="text-lg font-semibold">28</span>
                        <span class="text-sm">comentários</span>
                    </div>
                </div>
                <div class="mt-4 flex justify-end">
                    <i class="fa-solid fa-thumbs-up text-lime-700"></i>
                    <span class="text-xs font-semibold text-lime-700 ml-1 mr-2">32</span>
                    <i class="fa-solid fa-thumbs-down text-red-700"></i>
                    <span class="text-xs font-semibold text-red-700 ml-1 mr-2">29</span>
                </div>
            </div>
            <button class="mt-4 w-full cursor-pointer bg-sky-800 text-white p-2 rounded-lg text-sm">
                Ver Detalhes</button>
        </div>
        <div
            class="bg-white border-2 border-gray-300 p-4 rounded-lg max-w-96 drop-shadow-lg  hover:border-2 hover:border-sky-800 ">
            <h2 class="text-lg font-bold py-2 text-sky-800">
                Revisão das regras do uso da piscina
            </h2>
            <div class="flex justify-between items-center mt-2">
                <i class="fa-solid fa-user text-gray-400"></i>
                <div class="text-sm text-gray-400 ml-1 grow">Carlos Santos - 159 D</div>
                <i class="fa-solid fa-clock text-sm text-gray-400"></i>
                <span class="text-xs text-gray-500 ml-1">22/07/2025</span>
            </div>
            <p class="my-4 text-sm text-gray-600">
                Proposta para atualizar as regras de uso da piscina, incluindo horários de
                funcionamento, normas de segurança e limitações para convidados.
            </p>
            <div class="flex items-center gap-2">
                <div class="mt-4 flex flex-col md:flex-row grow">
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-receipt text-sky-800"></i>
                        <span class="text-lg font-semibold">15</span>
                        <span class="text-sm mr-2">trechos</span>
                    </div>
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-comment text-sky-800"></i>
                        <span class="text-lg font-semibold">28</span>
                        <span class="text-sm">comentários</span>
                    </div>
                </div>
                <div class="mt-4 flex justify-end">
                    <i class="fa-solid fa-thumbs-up text-lime-700"></i>
                    <span class="text-xs font-semibold text-lime-700 ml-1 mr-2">32</span>
                    <i class="fa-solid fa-thumbs-down text-red-700"></i>
                    <span class="text-xs font-semibold text-red-700 ml-1 mr-2">29</span>
                </div>
            </div>
            <button class="mt-4 w-full cursor-pointer bg-sky-800 text-white p-2 rounded-lg text-sm">
                Ver Detalhes</button>
        </div>
        <div
            class="bg-white border-2 border-gray-300 p-4 rounded-lg max-w-96 drop-shadow-lg  hover:border-2 hover:border-sky-800 ">
            <h2 class="text-lg font-bold py-2 text-sky-800">
                Revisão das regras do uso da piscina
            </h2>
            <div class="flex justify-between items-center mt-2">
                <i class="fa-solid fa-user text-gray-400"></i>
                <div class="text-sm text-gray-400 ml-1 grow">Carlos Santos - 159 D</div>
                <i class="fa-solid fa-clock text-sm text-gray-400"></i>
                <span class="text-xs text-gray-500 ml-1">22/07/2025</span>
            </div>
            <p class="my-4 text-sm text-gray-600">
                Proposta para atualizar as regras de uso da piscina, incluindo horários de
                funcionamento, normas de segurança e limitações para convidados.
            </p>
            <div class="flex items-center gap-2">
                <div class="mt-4 flex flex-col md:flex-row grow">
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-receipt text-sky-800"></i>
                        <span class="text-lg font-semibold">15</span>
                        <span class="text-sm mr-2">trechos</span>
                    </div>
                    <div class="flex flex-nowrap justify-start items-center gap-1">
                        <i class="fa-solid fa-comment text-sky-800"></i>
                        <span class="text-lg font-semibold">28</span>
                        <span class="text-sm">comentários</span>
                    </div>
                </div>
                <div class="mt-4 flex justify-end">
                    <i class="fa-solid fa-thumbs-up text-lime-700"></i>
                    <span class="text-xs font-semibold text-lime-700 ml-1 mr-2">32</span>
                    <i class="fa-solid fa-thumbs-down text-red-700"></i>
                    <span class="text-xs font-semibold text-red-700 ml-1 mr-2">29</span>
                </div>
            </div>
            <button class="mt-4 w-full cursor-pointer bg-sky-800 text-white p-2 rounded-lg text-sm">
                Ver Detalhes</button>
        </div>
        <!-- Repetir o bloco acima para mais propostas -->
    </div>
    <div class="flex">
        <h1 class="text-2xl font-bold grow">Propostas para Assinatura</h1>
    </div>
    <div class="flex flex-col md:flex-row md:flex-nowrap gap-4 my-4 pb-3 overflow-auto">
        <div
            class="bg-white border-2 border-gray-300 p-4 rounded-lg max-w-96 drop-shadow-lg  hover:border-2 hover:border-sky-800 ">
            <h2 class="text-lg font-bold py-2 text-sky-800">
                Alteração do sistema de segurança
            </h2>
            <div class="flex flex-col md:flex-row mt-2 gap-2 w-full">
                <div class="flex justify-start items-center grow">
                    <i class="fa-solid fa-user text-gray-400"></i>
                    <div class="text-sm text-gray-400 ml-1 grow">Pedro Almeida - 27 C</div>
                </div>
                <div class="flex md:justify-end items-center">
                    <i class=" fa-hourglass text-sm text-red-500"></i>
                    <span class="text-xs text-red-500 ml-1">Finaliza 15/08/2025 20:00</span>
                </div>
            </div>
            <p class="my-4 text-sm text-gray-600">
                Proposta para atalizar o sistema de segurança do condomínio, incluindo
                instalação de câmeras adicionais e melhorias na iluminação das áreas comuns.
            </p>
            <div class="flex items-center gap-2">
                <div class="text-sm text-gray-400 flex grow">Assinatura</div>
                <div class="text-sm text-gray-400 flex">55/161</div>
            </div>
            <div class="flex">
                <div class="w-55/161 h-2 bg-yellow-500 rounded-l-full"></div>
                <div class="w-106/161 h-2 bg-gray-300 rounded-r-full"></div>
            </div>
            <button class="mt-4 w-full cursor-pointer bg-sky-800 text-white p-2 rounded-lg text-sm">
                Assinar Proposta</button>
        </div>
    </div>
</div>