<section class="p-4 bg-gray-300 flex items-center">
  <div class="flex rounded-xl w-full bg-white p-3">
    <div class="ml-2 flex justify-start items-center">
      <i class="mr-2 fa-solid fa-file-pdf text-red-400"></i>
    </div>
    <div class="ml-2 grow text-sm text-gray-700">
      <div class="font-bold">Regimento Interno Vigente</div>
      <div class="text-xs">Aprovado em 12/08/2025</div>
    </div>
    <div class="flex items-center">
      <a
        class="flex items-center gap-2 text-sm font-bold bg-sky-800 text-white p-2 rounded-lg"
        href="#"
      >
        <i class="fa-solid fa-download"></i>
        <span class="hidden md:block">Baixar PDF</span>
      </a>
    </div>
  </div>
</section>
